<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>VOTR: Home</title>
    <link href="https://fonts.googleapis.com/css?family=Tajawal:300,400,700|Do+Hyeon" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/styles.css"/>
    <script src="../public/javascript/home.js"></script>
</head>

<body>
<div class="home-grid-container">
    <button id="header" onclick="goTo('/')" title="home"><img src="../public/img/votr-logo.png"></button>
    <button id="home-quiz-button" class="grid-item" onclick="goTo('quiz')" title="start quiz">
        TAKE THE QUIZ <br>
        >>>
    </button>
    <div id="feature-a"><img id="banner" src="public/img/votr_banner_a.png" ></div>
    <div id="feature-b"><img id="banner" src="public/img/votr_banner_b.png"></div>
    <div id="home-skip-container">Or skip to the<br> ...</div>
    <button id="home-lh-button" class="grid-item" onclick="goTo('learninghub')" title="go to learning hub">
        Learning Hub
    </button>

</div>
</body>
</html>