<DOCTYPE! html5>
<html>
    <head>
        <title> Interview Guide</title>
    </head>

    <body>
        <ul>
            <li> <label> <a href="team_members.html">Team Members</a> </label> </li>
            <li> <label> <a href="pproposal.html">Problem Proposal</a> </label> </li>
            <li> <label> <a href="projspec.html">Project Specification</a> </label> </li>
            <li> <label> <a href="interview_guide.html">Interview Guide</a> </label> </li>
        </ul>

        <h1>Interview Guide </h1>

        <p> Placeholder for interview guide </p>

        </br>
        <a href = index.html><button>Back to Home</button></a>
    </body>
</html>
