<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VOTR: Home</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css"/>
    <script src="/public/javascript/home.js"></script>
</head>

<body>
<div class="home-grid-container">
    <div id="header" onclick="goTo('/')"><img src="/public/img/votr-logo.png"></div>
    <div id="nf-button" class="grid-item">
        <br> Sorry bud, that page isn't available <br><br> Click the logo to get outta here!
    </div>

</div>
</body>
</html>