<!DOCTYPE html5>
<html>
    <head>
        <title>Project Proposal</title>
    </head>
    <body>
        <h1>Project Proposal</h1>
        <p>Our project proposal is to address the issue of accessibility to voting.
            Traditionally when speaking about accessibility you would think of those with
        disabilities or physical barriers preventing them from voting. While this will be a focus
        of our work we've decided to broaden our approach and also look at social barriers preventing
        people, predominantly youth from engaging with the political system and voting.</p>
        <p>By broadening the definition in this way we will be looking at creating a platform
        to engage people from diverse social backgrounds in the political debate, creating
        fun, engaging content to explain our political and voting systems as well provide
        an easy to understand, appealing explanation of key political parties and their views
        as well interactive content.</p>

        <h2>Other Information</h2>
        <ul>
            <li> <a href = team_members.html><label> Team Members </label> </a></li>
            <li> <a href = pproposal.html><label> Problem Proposal </label></a></li>
            <li> <a href = projspec.html><label> Project Specification </label></a></li>
            <li> <a href = interview_guide.html><label> Interview Guide </label></a> </li>
        </ul>
        <a href = index.html><button>Back to Home</button></a>
    </body>
</html>