<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <li> <label> <a href="team_members.html">Team Members <a></label> </li>
    <li> <label> <a href="pproposal.html">Project Proposal</a> </label> </li>
    <li> <label> <a href="projspec.html">Project Specification</a> </label> </li>
    <li> <label> <a href="interview_guide.html"> Interview Guide </a></label></li>

    <h1>Project Specification</h1>

    The goal is to build a web-based application that
    contributes towards a solution to one of the challenges
    proposed by OpenIDEO. </br></br>
    <b><i>How might we make the election experience more accessible
    for everyone?</i></b></br></br>
    <a href="index.html">Go back</a>
</body>
</html>