<DOCTYPE! html5>
<html>
    <head>
        <title> Team Members </title>
    </head>

    <body>
        <ul>
            <li> <label> <a href="team_members.html">Team Members</a> </label> </li>
            <li> <label> <a href="pproposal.html">Problem Proposal</a> </label> </li>
            <li> <label> <a href="projspec.html">Project Specification</a> </label> </li>
            <li> <label> <a href="interview_guide.html">Interview Guide</a> </label> </li>
        </ul>

        <h1> Team Members </h1>

        <table>
            <tr>
                <th> <b>Member</b></th>
                <th> <b>Student Number</b></th>
                <th> <b>University Email</b></th>
            </tr>
            <tr>
                <th> Sonali Singh</th>
                <th> 931025</th>
                <th> sonalis@student.unimelb.edu.au</th>
            </tr>
            <tr>
                <th> Constantinos Kavadias</th>
                <th> 664790</th>
                <th> ckavadias@student.unimelb.edu.au</th>
            </tr>
            <tr>
                <th> Kara La'Brooy</th>
                <th> 757553</th>
                <th> klabrooy@student.unimelb.edu.au</th>
            </tr>
        </table>

        </br>
        <a href = index.html><button>Back to Home</button></a>

    </body>
</html>
